

.circle {
  width: 200px;
  height: 200px;
  background: url(../images/Onion.png);
background-size: contain;
float: left;
shape-outside: circle();
margin: 40px 20px 20px 0;
}
.mvc {
  width: 200px;
  height: 200px;
  background: url(../images/mvc_small.jpg);
background-size: contain;
float: left;
shape-outside: circle();
margin: 40px 20px 20px 0;
}