<li>
    <div class="dropdown">
        <a class="lnk dropBtn"><span class="drop_language {{active_language}}"></span></a>
        <div class="dropdown-content" style="right:0;">
            <a class="dropLnk {%if active_language == 'pt'%}{{ isActive }}{%endif%}" href="/">
                <div class="language pt"> Portuguese </div>
            </a>
            <a class="dropLnk {%if active_language == 'en'%}{{ isActive }}{%endif%}" href="/">
                <div class="language en"> English</div>
            </a>
            <a class="dropLnk {%if active_language == 'fr'%}{{ isActive }}{%endif%} " href="/">
                <div class="language fr"> French</div>
            </a>
        </div>
    </div>
</li>