{% extends 'layout/master.twig' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container appContent" >
        <div class="sectionSeparator"></div>
        <div class="title">Making an Author Controller<small>Simple steps to get you going with microPHP</small></div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

