{% extends 'layout/master.twig' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container appContent">
        <div class="row">
            <div class="col-12">
                <br>
                <div class="title">
                    MicroPHP <small>Raw Bones OOP PHP Framework</small>
                </div>
            </div>
        </div>
        <div class="sectionSeparator"></div>
        <div class="row">
            <div class="col-12">
                <div class="circle"></div>
                <p> {{ trans('ABOUT_P1') }}</p>
<p> {{ trans('ABOUT_P2') }}</p>
                <pre><code>
$request = ServerRequest::fromGlobals();
$response = new Response();

$response = (new API\Core\App\Micro($ioc))
->run($request);
Http\Response\send($response);
</code></pre>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{{ asset('./images/mvc_small.jpg') }}" alt="" class="img-fluid">
            </div>
            <div class="col-8">
                <br>
                <p> {{ trans('ABOUT_P3') }}</p>

            </div>
        </div>
        <div class="sectionSeparator"></div>
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}

