{% extends 'layout/master.twig' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container appContent" >
        <div class="sectionSeparator"></div>
        <div class="title">Framework Validations<small>Using the Validator and the Controller response redirect</small></div>
        <hr>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

